.button {
  font-size: 1.8rem;
  font-weight: 600;
  background: var(--bg-button);
  border: none;
  border-radius: 0;
  border-right: var(--border-button);
  border-bottom: var(--border-button);
  outline: none;
}
.button:active {
  background: var(--bg-active);
}
.button.double {
  grid-column: span 2;
}
.button.triple {
  grid-column: span 3;
}
.button.operation {
  background: #fa8231;
  color: #fff;
  border-color: #cc6626;
  font-size: 1.5rem;
}
.button.operation:active {
  background: #fa8231cc;
  color: #fff;
}

:root {
  --bg-button: #f0f0f0;
  --bg-active: rgb(197, 197, 197);
  --border-button: solid 1px #888;
}
